# Gemini
GOOGLE_API_KEY=AIzaSyAqmLmfGAlTW9UDR1SMeaDRIexLqc6GOKU

# Sarvam
SARVAM_API_KEY=sk_wk9j52zu_GQ04v0EtZ8RkB3ocdBtbAdCt
SARVAM_BASE_URL=https://api.sarvam.ai

# WhatsApp Business API
WHATSAPP_PHONE_NUMBER_ID=1104238732776585
WHATSAPP_ACCESS_TOKEN=EAAq6Vb9MoCIBRQ0F0yS36gKZBZB2ljS0xPJR1SuQhdZAkf9ScZCoIPF4QgrMnlDnQ1ZCS2OuzSaW1B8KazNjUkOohXaXYZATxZCx5a3nn8DVPqJ2omcAqZBX4RZAjZAZC5zWRhq1ZCCxIijSoDI1lwimEdrrgAigKe0MgsyeI1qR8ZAdaLOkeZBBuPxt1rF4nCY8gjjNQ5ssKcPMi4Bnu4bLrklZAWliuo5nOIAclWcp6BpNEZBDJAZBNDwzPCzkyrMn1C9RtTgiuR722qUFNqG5471yez4OV6PaA
WHATSAPP_VERIFY_TOKEN=thub_haqdaar_2026
WHATSAPP_BUSINESS_ACCOUNT_ID=1542872070760523

# Database
DATABASE_URL=DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/ghostwriter
# Redis
REDIS_URL=redis://redis:6379

# Storage (for documents)
STORAGE_PATH=./documents

# App
SECRET_KEY=31948c293f2a5bba1bb1f8817cb7673711f9d3ae5a42898fe5dc8f3a13085ece
ENVIRONMENT=development
LOG_LEVEL=INFO
